PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=barberflow
JWT_SECRET=cambia_esto_por_un_secreto_seguro
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password
EMAIL_FROM=BarberFlow <tu_email@gmail.com>
BARBERIA_DIRECCION=Calle Ejemplo 123, Ciudad
PANEL_POLLING_INTERVAL_MS=30000